body{
	background-image: url(https://assets.minecraftmarket.com/static/img/website-background.png);
}

.navbar {
	margin-bottom: 0;	
}

html,body {
    height:100%;
}
.h_iframe iframe {
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    height:100%;
}
